<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.facebook.katana" />
        <package android:name="org.telegram.messenger" />
        <package android:name="com.whatsapp.w4b" />
    </queries>

    <application
        tools:replace="android:networkSecurityConfig"
        android:networkSecurityConfig="@xml/tapresearch_whitelist"
        android:name=".CPXApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidtaskgem"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:configChanges="uiMode"
            android:name=".Activities.MathQuiz"
            android:exported="false" />
        <activity
            android:configChanges="uiMode"
            android:name=".Activities.scratchCard"
            android:exported="false" />
        <activity
            android:configChanges="uiMode"
            android:name=".Activities.videozone"
            android:exported="false" />
        <activity
            android:configChanges="uiMode"
            android:name=".Activities.playzone"
            android:exported="false" />
        <activity
            android:configChanges="uiMode"
            android:name=".Activities.spin"
            android:exported="false" />
        <activity
            android:configChanges="uiMode"
            android:name=".Activities.transaction"
            android:exported="false" />
        <activity
            android:configChanges="uiMode"
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:configChanges="uiMode"
            android:name=".Activities.RedeemActivity"
            android:exported="false" />
        <activity
            android:configChanges="uiMode"
            android:name=".Activities.ReferActivity"
            android:exported="false" />
        <activity
            android:configChanges="uiMode"
            android:name=".Activities.loginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8628133762932459~9618578299" />
    </application>

</manifest>